@import "../sass/variables";
.city-rtl {
  direction: rtl;
}
h3 {
  font-weight: 600;
}

#demo-simple-select-label,
.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input,
.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
  font-family: "Noto Sans Arabic", sans-serif !important;
  font-weight: 500 !important;
}
#demo-simple-select-label {
  background-color: $second-color !important;
}
