@import "../sass/variables";

.review-order {
  user-select: none;
  overflow: hidden;
  background-color: $second-color;
  .title {
    font-size: 18px;
    font-weight: bold;
  }
  .keto-color {
    color: $main-color;
  }
  .total {
    font-size: 13px;
  }
  .p-show {
    background-color: $main-color;
    width: 100%;
    margin-top: 220px;
    @media (max-width: 991px) {
      margin-top: 0px;
    }
    .disabled {
      user-select: none;
    }
  }
}
